.calendar {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1px;
  width: 706px;
  margin: auto;
  transform: translateY(60px);

  div {
    width: $day-size;
    height: $day-size;
    border: solid 1px black;
    transition: bottom 0.5s background-color 0.5s;
    font-family: $main-font;
    text-align: center;
    line-height: $day-size;
    font-size: 30px;
    background-color: $day-color;
    cursor: pointer;

    &:hover {
      position: relative;
      transform: translateY(-20px);
      background-color: pink;
    }
  }

  @for $i from 1 to 31 {
    :nth-child(#{$i}) {
      &::after {
        content: "#{$i}";
      }
    }
  }

  @for $i from 28 to 31 {
    &-#{$i} {
      :nth-child(n + #{$i + 1}) {
        display: none;
      }
    }
  }

  @each $num, $day in $week {
    &-#{$day} {
      :first-child {
        margin-left: (($day-size + $day-gap) * $num);
      }
    }
  }
}
